@keyframes loader-animation {
  0% {
    transform: rotateY(0deg);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }

  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  100% {
    transform: rotateY(3600deg);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
}

.meteomixCssLoader {
  --stroke: 3px;        /* толщина линий */

  width: var(--loader-size);
  height: var(--loader-size);
  position: relative;
  animation: loader-animation 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

/* Круг */
.meteomix-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: var(--stroke) solid var(--loader-color);
}

/* Диагонали */
.meteomix-icon::after {
  content: "";
  position: absolute;
  inset: 0;

  background:
    linear-gradient(45deg, transparent 48%, var(--loader-color) 48%, var(--loader-color) 52%, transparent 52%),
    linear-gradient(-45deg, transparent 48%, var(--loader-color) 48%, var(--loader-color) 52%, transparent 52%);

  /* Зазор от краёв круга */
  padding: calc(var(--loader-size) * 0.18);
  border-radius: 50%;
}
